Source: etimetool
Section: gui
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper (>= 7), autoconf, automake, libtool, pkg-config, libevas-dev, libedje-dev, libecore-dev (>= 0.9.9.49898-5), libeoi-dev, libedje-bin
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, libtool, pkg-config, libedje-bin
XCS-Cross-Build-Depends: libevas-dev, libedje-dev, libecore-dev (>= 0.9.9.49898-5), libeoi-dev
Priority: optional
Standards-Version: 3.8.3

Package: etimetool
Architecture: any
Depends: ${shlibs:Depends}
Description: Clock settings application
 Clock settings application
